@{
    ViewBag.Title = "Category_Insert";
    Layout = "~/Areas/AdminCP/Views/Shared/_Admin.cshtml";
}
@model WCF.BusinessObjectsLayer.EntityObjects.TechCategoryObject
<div class="portlet box red-intense">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>Thêm mới danh mục công nghệ
        </div>
        <div class="tools">

        </div>
    </div>

    <div class="portlet-body">
        <div style="width:100%">
            @using (Html.BeginForm("Category_Insert", "TechAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
          
                    <div class="form-group">
                        <h3>Tên danh mục</h3>

                        @Html.TextBoxFor(q => q.CategoryName, new
       {
           @type = "text",
           @class = "form-control"
       })
                    </div>
                    <div class="form-group">
                        <h3>Thứ hạng</h3>

                        @Html.TextBoxFor(q => q.RankingOfSortingOnTop, new
         {
             @type = "number",
             @class = "form-control"
         })
                    </div>
                    <div class="form-group">
                        <h3>Ảnh đại diện</h3>
                        @Html.TextBoxFor(model => model.CategoryAvatar, null, new { type = "file", name = "file", id = "ava" })
                        <div style="margin-top:15px;">
                            <img style="width:150px;height:120px;" class="img-thumbnail rimage" />
                        </div>
                    </div>

             

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>

                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
</div>

@section Scripts{
    <script>
        $("#ava").change(function () {
            readURL(this, '.rimage');
        });

    </script>
}




