@{
    ViewBag.Title = "Quản lý Tag";
    Layout = "~/Areas/AdminCP/Views/Shared/_Admin.cshtml";
}
@model List<WCF.BusinessObjectsLayer.EntityObjects.ArticleTagObject>
<div id="manage-tech-category" class="col-xs-12">
    <div class="portlet box red-intense">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-globe"></i>Quản lý Tag công nghệ
            </div>
            <div class="tools">

            </div>
        </div>
        <div class="portlet-body">
            <div class="col-xs-12" style="float:none">
                <div style="padding-bottom:10px;">
                    <a class="btn btn-primary btn-sm" style="margin-top:10px;" href="@Url.Action("Tag_Insert", "TechAdmin")">
                        Thêm mới
                        <span class="fa fa-plus" style="padding-left:6px;"></span>
                    </a>
                </div>
                <table class="table table-striped table-bordered table-hover dataTable no-footer" id="category-table" aria-describedby="dataTables-example_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="category-table" rowspan="1" colspan="1">Tên Tag</th>
                            <th class="sorting" tabindex="0" aria-controls="category-table" rowspan="1" colspan="1">Số bài viết</th>
                           


                            <th class="sorting" tabindex="0" aria-controls="category-table" rowspan="1" colspan="1">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.TagName</th>
                                <th>@item.TotalOfArticle</th>

                                <th>
                                    <a href="@Url.Action("Tag_Update", "TechAdmin", new { id = item.ArticleTagId })" class="btn btn-info">Sửa</a>
                                    <a class="btn btn-danger">Xóa</a>
                                </th>
                            </tr>
                        }

                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Areas/AdminCP/Content/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Areas/AdminCP/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#category-table').dataTable();
        });
       
    </script>
}

