
@{
    Layout = null;
}
<table border="1" cellpadding="1" cellspacing="1" style="width:100%">
    <tbody>
        <tr>
            <td><strong><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">T&ecirc;n c&ocirc;ng ty</span></span></strong></td>
            <td><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"></span></span></td>
        </tr>
        <tr>
            <td><strong><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Địa chỉ</span></span></strong></td>
            <td><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"></span></span></td>
        </tr>
        <tr>
            <td><strong><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Website</span></span></strong></td>
            <td><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"></span></span></td>
        </tr>
        <tr>
            <td><strong><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Điện thoại</span></span></strong></td>
            <td><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"></span></span></td>
        </tr>
        <tr>
            <td><strong><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Giới thiệu</span></span></strong></td>
            <td><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"></span></span></td>
        </tr>
        <tr>
            <td><strong><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Quy m&ocirc; c&ocirc;ng ty</span></span></strong></td>
            <td><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"></span></span></td>
        </tr>
    </tbody>
</table>