<div class="page-quick-sidebar-wrapper">
    <div class="page-quick-sidebar">
        <div class="nav-justified">
            <ul class="nav nav-tabs nav-justified">
                
                <li>
                    <a href="#quick_sidebar_tab_2" data-toggle="tab">
                        Thông báo của IMIC
                    </a>
                </li>
                
            </ul>
            <div class="tab-content">
                <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                    <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                        <h3 class="list-heading">Các bài viết mới</h3>
                        <ul class="media-list list-items">
                            <li class="media">
                                <div class="media-status">
                                    <span class="badge badge-success"></span>
                                </div>
                                <img class="media-object" src="/Content/Galleries/Lesson/Categories/22042017100438-java-runtime-environment-11-535x535.png" class="img-responsive" alt="">
                                @*<img class="media-object" src="~/Content/assets/images/avatar3.jpg" alt="...">*@
                                <div class="media-body">
                                    <h4 class="media-heading">  ExceptionHandling và Ghi đè phương thức trong Java</h4>
                                    <div class="media-heading-sub">
                                        Java cơ bản
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-status">
                                    <span class="badge badge-success"></span>
                                </div>
                                <img  class="media-object" src="/Content/Galleries/Lesson/Categories/22042017100438-java-runtime-environment-11-535x535.png" class="img-responsive" alt="">
                                @*<img class="media-object" src="~/Content/assets/images/avatar3.jpg" alt="...">*@
                                <div class="media-body">
                                    <h4 class="media-heading"> Enum trong Java</h4>
                                    <div class="media-heading-sub">
                                        Cấu trúc dữ liệu trong java
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-status">
                                    <span class="badge badge-success"></span>
                                </div>
                                <img class="media-object" src="/Content/Galleries/Lesson/Categories/26042017110432-Android.png" class="img-responsive" alt="">
                                @*<img class="media-object" src="~/Content/assets/images/avatar3.jpg" alt="...">*@
                                <div class="media-body">
                                    <h4 class="media-heading"> Animation trong Android </h4>
                                    <div class="media-heading-sub">
                                        Một số ứng dụng Android
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-status">
                                    <span class="badge badge-success"></span>
                                </div>
                                <img class="media-object" src="/Content/Galleries/Lesson/Categories/26042017110432-Android.png" class="img-responsive" alt="">
                                @*<img class="media-object" src="~/Content/assets/images/avatar3.jpg" alt="...">*@
                                <div class="media-body">
                                    <h4 class="media-heading"> Content Provider trong Android</h4>
                                    <div class="media-heading-sub">
                                        Khái niệm Android cơ bản
                                    </div>
                                </div>
                            </li>
                            @*<li class="media">
                                <img class="media-object" src="~/Content/assets/images/avatar1.jpg" alt="...">
                                <div class="media-body">
                                    <h4 class="media-heading">Nick Larson</h4>
                                    <div class="media-heading-sub">
                                        Art Director
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-status">
                                    <span class="badge badge-danger">3</span>
                                </div>
                                <img class="media-object" src="~/Content/assets/images/avatar4.jpg" alt="...">
                                <div class="media-body">
                                    <h4 class="media-heading">Deon Hubert</h4>
                                    <div class="media-heading-sub">
                                        CTO
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <img class="media-object" src="~/Content/assets/images/avatar2.jpg" alt="...">
                                <div class="media-body">
                                    <h4 class="media-heading">Ella Wong</h4>
                                    <div class="media-heading-sub">
                                        CEO
                                    </div>
                                </div>
                            </li>*@
                        </ul>
                   
                    </div>
               
                </div>
              
            </div>
        </div>
    </div>
</div>
