@model List<WCF.BusinessObjectsLayer.EntityObjects.LessonDetailObject>
@using WCF.Web.App_Start
    <div class="lesson" style="width:100%;float:left">
        <!-- BEGIN PORTLET -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Nhiều người xem</span>
                </div>

            </div>
            <div class="portlet-body">
                <!--BEGIN TABS-->
                
                <div class="scroller" style="data-always-visible=" 1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                    <ul class="feeds">
                        @if (Model.Count > 0)
                        {
                            string[] color = { "bg-red-flamingo", "bg-blue", "bg-green", "bg-yellow-crusta", "bg-grey-cascade", "bg-purple-medium" };
                            foreach (var item in Model)
                            {
                                <li>
                                    <div class="col1" style="width:100%">
                                        <div class="cont" style="width:100%">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success" style="padding:0px;">

                                                    @{
                                int rand = Model.IndexOf(item) % 6;

                                                    }
                                                    <div class="detail-count @color[rand]">@(Model.IndexOf(item) + 1)</div>
                                                </div>
                                            </div>
                                            <div class="cont-col2" style="width:100%">
                                                <div class="desc" style="width:100%">
                                                    <a href="@Url.RouteUrl("lessondetail", new { code = item.DetailCode, name = StringHelpers.GenerateURL(item.DetailTitle) })">@item.DetailName [@item.TotalOfView]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </li>

                            }

                        }

                    </ul>
                </div>


            </div>
            <!--END TABS-->
        </div>
    </div>