
@model IEnumerable<WCF.BusinessObjectsLayer.EntityObjects.LessonDetailTagObject>
    <div class="content-heading__secondary">
        <div class="content-heading__secondary-categories">
            @foreach (var item in Model) {
                <a href=""><span data-tag="@item.LessonDetailTagName" class="tag-detail content-heading__secondary-categories-tag">@item.LessonDetailTagName</span></a>
            }
            @*<a href="/categories/android-sdk"><span class="content-heading__secondary-categories-tag">Android SDK</span></a>
            <a href="/categories/java"><span class="content-heading__secondary-categories-tag">Java</span></a>
            <a href="/categories/design-patterns"><span class="content-heading__secondary-categories-tag">Design Patterns</span></a>
            <a href="/categories/mobile-development"><span class="content-heading__secondary-categories-tag">Mobile Development</span></a>
            <a href="/categories/theory"><span class="content-heading__secondary-categories-tag">Theory</span></a>
            <a href="/categories/how-to"><span class="content-heading__secondary-categories-tag">How-To</span></a>*@
        </div>
        @*<div class="content-heading__secondary-social"><span class="content-heading__comment-count"><a href="#post_comments"><i class="fa fa-comment"></i></a><div class="social-share-menu popup-menu view view--loaded"><a class="popup-menu-toggle drop-theme-arrows-bounce drop-target" href="javascript:"><i class="fa fa-share-alt"></i></a><div class="popup-menu-content"><ul class="social-share-menu__popup-menu-content"><li><a title="Share on Facebook" href="https://www.facebook.com/dialog/feed?app_id=1494084460809023&amp;link=https%3A%2F%2Fcode.tutsplus.com%2Ftutorials%2Fhow-to-adopt-model-view-presenter-on-android--cms-26206&amp;display=page&amp;name=How%20to%20Adopt%20Model%20View%20Presenter%20on%20Android&amp;redirect_uri=https%3A%2F%2Fcode.tutsplus.com%2Ftutorials%2Fhow-to-adopt-model-view-presenter-on-android--cms-26206"><i class="fa fa-facebook-square"></i></a></li><li><a target="_blank" title="Share on Twitter" href="https://twitter.com/intent/tweet?text=How%20to%20Adopt%20Model%20View%20Presenter%20on%20Android&amp;url=https%3A%2F%2Fcode.tutsplus.com%2Ftutorials%2Fhow-to-adopt-model-view-presenter-on-android--cms-26206&amp;via=tutsplus"><i class="fa fa-twitter"></i></a></li><li><a target="_blank" title="Share on Google+" href="https://plus.google.com/share?url=https%3A%2F%2Fcode.tutsplus.com%2Ftutorials%2Fhow-to-adopt-model-view-presenter-on-android--cms-26206"><i class="fa fa-google-plus"></i></a></li><li><a target="_blank" title="Pin on Pinterest" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fcode.tutsplus.com%2Ftutorials%2Fhow-to-adopt-model-view-presenter-on-android--cms-26206&amp;description=How%20to%20Adopt%20Model%20View%20Presenter%20on%20Android&amp;media=https%3A%2F%2Fcms-assets.tutsplus.com%2Fuploads%2Fusers%2F41%2Fposts%2F26206%2Fpreview_image%2Fdebugging%402x.jpg"><i class="fa fa-pinterest"></i></a></li></ul></div></div></span></div>*@
    </div>
