@{
    Layout = null;
}
<div class="page-footer">
    <div class="page-footer-inner">
        2016 &copy; Feed Back Solution by iMIC. <a href="#" title="iMIC" target="_blank">Go to iMIC!</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>