@charset "utf-8";
/* CSS Document */
.contact-box{
	width:100%;
	background:#FFF;
	float:left;
	padding:20px;
	margin-top:30px;
}
.contact-box label{
	width:100%;
	font-style:bold;
	color:#1397ef;
	font-size:17px;
	padding-bottom:15px;
	border-bottom:1px solid #999;
}
.contact-box .form-control{
	margin-top:10px;
	margin-bottom:10px;
}
